## Assignment 3 (10 Points): Import & Tidy

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
print(flights)
head(flights, 5)
tail(flights, 5)
sample_n(flights, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        9E      3393   NA      JFK    DCA  NA       213      14   55
2 NA        9E      3525   NA      LGA    SYR  NA       198      22    0
3 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12   10
4 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11   59
5 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8   40
  time_hour
1 2013-09-30 14:00:00
2 2013-09-30 22:00:00
3 2013-09-30 12:00:00
4 2013-09-30 11:00:00
5 2013-09-30 08:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 5     21   553      600           -7         648      701
2 2013 6     10   804      805           -1        1056     1055
3 2013 3     20   655      656           -1         915      924
4 2013 3     24  2027     1918           69        2325     2216
5 2013 9     13   759      800           -1         902      904
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -13       US      2114   N733UW  LGA    BOS   32       184      6    0
2   1       DL      1109   N376NW  LGA    TPA  139      1010      8    5
3  -9       B6       117   N768JB  JFK    MSY  183      1182      6   56
4  69       UA      1159   N73278  EWR    PBI  153      1023     19   18
5  -2       B6      1491   N247JB  JFK    ACK   44       199      8    0
  time_hour
1 2013-05-21 06:00:00
2 2013-06-10 08:00:00
3 2013-03-20 06:00:00
4 2013-03-24 19:00:00
5 2013-09-13 08:00:00

### Q1 (4 points): Make the flights data messy and write the result into a csv file named "flights_messy.csv".

In [4]:
print(flights_messy)
head(flights_messy, 5)
tail(flights_messy, 5)
sample_n(flights_messy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 05:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 05:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 05:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 05:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 06:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 14:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-09-30 22:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 12:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 11:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 08:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/22 2006     2015           -9        2113     2130           -17
2 2013/4/18 2016     2000           16        2144     2119            25
3 2013/12/9 1237     1210           27        1342     1324            18
4 2013/5/21  855      900           -5        1025     1019             6
5 2013/6/18   NA      940           NA          NA     1051            NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 AA_1762        N3DUAA  39       187      20   15     2013-01-22 20:00:00 NA
2 US_2189        N744P   46       214      20    0     2013-04-18 20:00:00 NA
3 9E_2902        N914XJ  32       187      12   10     2013-12-09 12:00:00 NA
4 US_2120        N955UW  38       184       9    0     2013-05-21 09:00:00 NA
5 9E_3608        NA      NA        94       9   40     2013-06-18 09:00:00 NA
  LGA JFK
1 NA  BOS
2 DCA NA
3 NA  BOS
4 BOS NA
5 NA  PHL

### Q2 (6 points): Read "flights_messy.csv" and make the data tidy.

In [6]:
print(flights_tidy)
head(flights_tidy, 5)
tail(flights_tidy, 5)
sample_n(flights_tidy, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, origin <chr>, dest <chr>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum air_time distance hour minute
1  11       UA      1545   N14228  227      1400     5    15
2  20       UA      1714   N24211  227      1416     5    29
3  33       AA      1141   N619AA  160      1089     5    40
4 -18       B6       725   N804JB  183      1576     5    45
5 -25       DL       461   N668DN  116       762     6     0
  time_hour           origin dest
1 2013-01-01 10:00:00 EWR    IAH
2 2013-01-01 10:00:00 LGA    IAH
3 2013-01-01 10:00:00 JFK    MIA
4 2013-01-01 10:00:00 JFK    BQN
5 2013-01-01 11:00:00 LGA    ATL

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum air_time distance hour minute
1 NA        9E      3393   NA      NA       213      14   55
2 NA        9E      3525   NA      NA       198      22    0
3 NA        MQ      3461   N535MQ  NA       764      12   10
4 NA        MQ      3572   N511MQ  NA       419      11   59
5 NA        MQ      3531   N839MQ  NA       431       8   40
  time_hour           origin dest
1 2013-09-30 18:00:00 JFK    DCA
2 2013-10-01 02:00:00 LGA    SYR
3 2013-09-30 16:00:00 LGA    BNA
4 2013-09-30 15:00:00 LGA    CLE
5 2013-09-30 12:00:00 LGA    RDU

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 10    15   604      610            -6        755      813
2 2013 10     4  1915     1919            -4       2151     2215
3 2013  1    20   829      830            -1       1329     1335
4 2013 12    20  1140     1150           -10       1332     1406
5 2013  3     3  1121     1100            21       1250     1300
  arr_delay carrier flight tailnum air_time distance hour minute
1 -18       DL      1919   N918DE  150      1020      6   10
2 -24       DL      2159   N958DL  126       944     19   19
3  -6       DL       301   N636DL  203      1598      8   30
4 -34       YV      2885   N923FJ   88       544     11   50
5 -10       WN       366   N758SW  121       888     11    0
  time_hour           origin dest
1 2013-10-15 10:00:00 LGA    MSP
2 2013-10-04 23:00:00 JFK    MCO
3 2013-01-20 13:00:00 JFK    SJU
4 2013-12-20 16:00:00 LGA    CLT
5 2013-03-03 16:00:00 LGA    STL