## Assignment 3 (10 Points): Import & Tidy

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
print(flights)
head(flights, 5)
tail(flights, 5)
sample_n(flights, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        9E      3393   NA      JFK    DCA  NA       213      14   55
2 NA        9E      3525   NA      LGA    SYR  NA       198      22    0
3 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12   10
4 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11   59
5 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8   40
  time_hour
1 2013-09-30 14:00:00
2 2013-09-30 22:00:00
3 2013-09-30 12:00:00
4 2013-09-30 11:00:00
5 2013-09-30 08:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 5     21   553      600           -7         648      701
2 2013 6     10   804      805           -1        1056     1055
3 2013 3     20   655      656           -1         915      924
4 2013 3     24  2027     1918           69        2325     2216
5 2013 9     13   759      800           -1         902      904
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -13       US      2114   N733UW  LGA    BOS   32       184      6    0
2   1       DL      1109   N376NW  LGA    TPA  139      1010      8    5
3  -9       B6       117   N768JB  JFK    MSY  183      1182      6   56
4  69       UA      1159   N73278  EWR    PBI  153      1023     19   18
5  -2       B6      1491   N247JB  JFK    ACK   44       199      8    0
  time_hour
1 2013-05-21 06:00:00
2 2013-06-10 08:00:00
3 2013-03-20 06:00:00
4 2013-03-24 19:00:00
5 2013-09-13 08:00:00

### Q1 (4 points): Make the flights data messy and write the result into a csv file named "flights_messy.csv".

In [3]:
df<-flights

In [4]:
#make flights data messy
flights_messy <- df %>% 
unite("date",year,month,day,sep="/") %>%
unite("carrier_flight",carrier,flight,sep="_")%>%
pivot_wider(names_from =origin,values_from =dest)

#print out and sample flights_messy
print(flights_messy)
head(flights_messy, 5)
tail(flights_messy, 5)
sample_n(flights_messy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 05:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 05:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 05:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 05:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 06:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 14:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-09-30 22:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 12:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 11:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 08:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date       dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013/3/30  1957     1935           22        2226     2232
2 2013/1/17  1659     1700           -1        1835     1839
3 2013/10/30  800      805           -5        1022     1022
4 2013/12/31   NA      825           NA          NA     1029
5 2013/8/12   644      645           -1         912      908
  arr_delay carrier_flight tailnum air_time distance hour minute
1 -6        DL_1485        N933DL  132       950     19   35
2 -4        UA_689         N816UA  132       733     17    0
3  0        EV_4364        N14180  174      1092      8    5
4 NA        US_1831        NA       NA       541      8   25
5  4        US_623         N524UW  300      2153      6   45
  time_hour           EWR LGA JFK
1 2013-03-30 19:00:00 NA  MCO NA
2 2013-01-17 17:00:00 NA  ORD NA
3 2013-10-30 08:00:00 MCI NA  NA
4 2013-12-31 08:00:00 NA  NA  CLT
5 2013-08-12 06:00:00 NA  NA  PHX

In [5]:
#write flights_messy to the 'flight_messy.csv' file
write.csv(flights_messy,'flights_messy.csv')

In [6]:
print(flights_messy)
head(flights_messy, 5)
tail(flights_messy, 5)
sample_n(flights_messy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 05:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 05:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 05:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 05:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 06:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 14:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-09-30 22:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 12:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 11:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 08:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/3/3   948      950            -2       1256     1254             2
2 2013/1/11  855      905           -10       1054     1115           -21
3 2013/2/27 1932     1903            29       2045     2022            23
4 2013/1/12  556      600            -4        658      724           -26
5 2013/5/30  556      602            -6        657      710           -13
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 B6_1101        N661JB  160      1069      9   50     2013-03-03 09:00:00 NA
2 MQ_4478        N856MQ   84       502      9    5     2013-01-11 09:00:00 NA
3 EV_4131        N18101   54       277     19    3     2013-02-27 19:00:00 RIC
4 EV_6012        N14977   43       229      6    0     2013-01-12 06:00:00 NA
5 B6_1170        N178JB   43       200      6    2     2013-05-30 06:00:00 BOS
  LGA JFK
1 NA  FLL
2 DTW NA
3 NA  NA
4 IAD NA
5 NA  NA

### Q2 (6 points): Read "flights_messy.csv" and make the data tidy.

In [2]:
#read 'flights_messy.csv' and make the data tidy
flights_tidy <- read_csv('flights_messy.csv')%>%
separate(date,into=c("year","month","day"),sep="/",convert=TRUE)%>%
separate(carrier_flight,into=c("carrier","flight"),sep="_", convert=TRUE)%>%
pivot_longer(c(`EWR`, `LGA`,`JFK`),
                         names_to = "origin",
                         values_to = "dest",
                         values_drop_na = TRUE)%>%
type_convert()%>%
select(-X1)

#change column types
flights_tidy$dep_time<-as.integer(flights_tidy$dep_time)
flights_tidy$sched_dep_time<-as.integer(flights_tidy$sched_dep_time)
flights_tidy$dep_delay<-as.numeric(flights_tidy$dep_delay)
flights_tidy$arr_time<-as.integer(flights_tidy$arr_time)
flights_tidy$sched_arr_time<-as.integer(flights_tidy$sched_arr_time)

Warning message:
“Missing column names filled in: 'X1' [1]”Parsed with column specification:
cols(
  X1 = col_double(),
  date = col_character(),
  dep_time = col_double(),
  sched_dep_time = col_double(),
  dep_delay = col_double(),
  arr_time = col_double(),
  sched_arr_time = col_double(),
  arr_delay = col_double(),
  carrier_flight = col_character(),
  tailnum = col_character(),
  air_time = col_double(),
  distance = col_double(),
  hour = col_double(),
  minute = col_double(),
  time_hour = col_datetime(format = ""),
  EWR = col_character(),
  LGA = col_character(),
  JFK = col_character()
)
Parsed with column specification:
cols(
  carrier = col_character(),
  tailnum = col_character(),
  origin = col_character(),
  dest = col_character()
)

In [3]:
#print out and sample flights_tidy
print(flights_tidy)
head(flights_tidy, 5)
tail(flights_tidy, 5)
sample_n(flights_tidy, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, origin <chr>, dest <chr>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum air_time distance hour minute
1  11       UA      1545   N14228  227      1400     5    15
2  20       UA      1714   N24211  227      1416     5    29
3  33       AA      1141   N619AA  160      1089     5    40
4 -18       B6       725   N804JB  183      1576     5    45
5 -25       DL       461   N668DN  116       762     6     0
  time_hour           origin dest
1 2013-01-01 05:00:00 EWR    IAH
2 2013-01-01 05:00:00 LGA    IAH
3 2013-01-01 05:00:00 JFK    MIA
4 2013-01-01 05:00:00 JFK    BQN
5 2013-01-01 06:00:00 LGA    ATL

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum air_time distance hour minute
1 NA        9E      3393   NA      NA       213      14   55
2 NA        9E      3525   NA      NA       198      22    0
3 NA        MQ      3461   N535MQ  NA       764      12   10
4 NA        MQ      3572   N511MQ  NA       419      11   59
5 NA        MQ      3531   N839MQ  NA       431       8   40
  time_hour           origin dest
1 2013-09-30 14:00:00 JFK    DCA
2 2013-09-30 22:00:00 LGA    SYR
3 2013-09-30 12:00:00 LGA    BNA
4 2013-09-30 11:00:00 LGA    CLE
5 2013-09-30 08:00:00 LGA    RDU

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  7     5   555      600            -5        724      750
2 2013  9    27  1527     1528            -1       1634     1659
3 2013  3    27  2255     2115           100       2348     2214
4 2013 10     8  1637     1645            -8       1854     1920
5 2013  3    27   903      850            13       1044     1035
  arr_delay carrier flight tailnum air_time distance hour minute
1 -26       DL       731   N383DN   74       502      6    0
2 -25       EV      4502   N14573  102       748     15   28
3  94       EV      4404   N15983   32       160     21   15
4 -26       DL       884   N325NB  208      1620     16   45
5   9       MQ      4558   N725MQ   64       419      8   50
  time_hour           origin dest
1 2013-07-05 06:00:00 LGA    DTW
2 2013-09-27 15:00:00 EWR    BNA
3 2013-03-27 21:00:00 EWR    PVD
4 2013-10-08 16:00:00 LGA    DEN
5 2013-03-27 08:00:00 LGA    CLE